html, body {
  
  background-color: #030F18;
  color: #ffffff;
}

#noo{
  text-align: center;
  text-decoration: underline;
}

#intro{
  text-align: center;
}

#cpplogo{
  margin-left: 320px;
}

.yay{
  margin-left: 333px;
}

.yayy{
  margin-left: 666px;
}

#jslogo{
  margin-left: 669px;
}

#haha{
  text-align: right;
  color: #DA0505;
}